/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*** SOME GENERIC STYLES ***/
.table-labeled th {
  vertical-align: middle; }
.table-labeled td {
  vertical-align: middle; }
.table-labeled .label {
  font-weight: 400;
  border-radius: 3px;
  font-size: inherit;
  padding: 0.25rem 0.375rem;
  margin: 0.125rem;
  color: white;
  white-space: nowrap; }

.page-order .table {
  margin-bottom: 0; }
.page-order table th {
  padding: 0.5rem; }
.page-order table td {
  padding: 0.5rem; }
.page-order table thead th {
  text-align: center; }

#authentication .tooltip.tooltip-bottom {
  padding: 0;
  margin: 0; }
#authentication .custom-checkbox {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  #authentication .custom-checkbox span {
    flex: 0 0 0.9375rem; }
  #authentication .custom-checkbox label {
    padding: 0 0 0 0.625rem;
    display: inline-table; }
    .rtl #authentication .custom-checkbox label {
      padding: 0 0.625rem 0 0; }
#authentication [data-action="show-password"] {
  background: #878787; }

#identity .radio-inline,
#authentication .radio-inline {
  padding: 0; }
  #identity .radio-inline .custom-radio,
  #authentication .radio-inline .custom-radio {
    margin-right: 0; }

/*** Most of the customer accpunt pages ***/
.page-customer-account #content {
  -moz-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 1rem;
  font-size: 0.8125rem;
  color: #878787; }
  .page-customer-account #content .order-actions a {
    padding: 0 0.125rem; }
  .page-customer-account #content .forgot-password {
    text-align: center;
    font-size: 0.8125rem;
    margin-top: 1rem;
    padding-bottom: 0.9375rem; }
  .page-customer-account #content .no-account {
    text-align: center;
    font-size: 0.875rem; }

/*** Login page ***/
.page-authentication #content {
  -moz-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  background: white;
  padding: 1rem;
  max-width: 640px;
  margin: 0 auto; }

/*** Addresses page ***/
.page-addresses .address {
  -moz-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
  background: white;
  margin-bottom: 1.875rem;
  font-size: 0.8125rem;
  color: #414141; }
  .page-addresses .address .address-body {
    padding: 1rem; }
    .page-addresses .address .address-body h4 {
      font-size: 0.875rem;
      font-weight: 700; }
    .page-addresses .address .address-body address {
      min-height: 9rem; }
  .page-addresses .address .address-footer {
    border-top: 1px solid #acaaa6;
    padding: 0.5rem 1rem; }
    .page-addresses .address .address-footer a {
      color: #878787;
      margin-right: 0.5rem; }
      .page-addresses .address .address-footer a:hover {
        color: #414141; }
      .page-addresses .address .address-footer a i {
        font-size: 0.875rem; }
      .page-addresses .address .address-footer a span {
        font-size: 0.875rem;
        vertical-align: middle; }
.page-addresses .addresses-footer {
  margin: 0 0.9375rem; }
  .page-addresses .addresses-footer a {
    color: #414141; }
    .page-addresses .addresses-footer a:hover {
      color: #414141; }
    .page-addresses .addresses-footer a i {
      font-size: 0.875rem; }
    .page-addresses .addresses-footer a span {
      font-size: 0.875rem;
      vertical-align: middle;
      margin-top: 0.625rem; }

/*** Order details page ***/
.page-order-detail {
  font-size: 0.875rem;
  color: #878787; }
  .page-order-detail .box {
    -moz-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 1rem;
    margin-bottom: 1rem; }
  .page-order-detail h3 {
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #414141;
    margin-bottom: 1rem; }
  .page-order-detail #order-infos ul {
    margin: 0; }
  .page-order-detail #order-history .history-lines .history-line {
    padding: 0.5rem 0;
    border-bottom: 1px solid #f6f6f6; }
    .page-order-detail #order-history .history-lines .history-line:last-child {
      border-bottom: 0; }
    .page-order-detail #order-history .history-lines .history-line .label {
      display: inline-block;
      margin: 0.25rem 0;
      padding: 0.25rem 0.375rem;
      color: white;
      border-radius: 3px; }
  .page-order-detail .addresses {
    margin: 0 -0.9375rem; }
    .page-order-detail .addresses h4 {
      font-size: 0.875rem;
      font-weight: 700; }
  .page-order-detail #order-products.return {
    margin-bottom: 1rem; }
    .page-order-detail #order-products.return th.head-checkbox {
      width: 30px; }
    .page-order-detail #order-products.return td {
      padding: 1.375rem 0.75rem; }
      .page-order-detail #order-products.return td.qty {
        min-width: 125px; }
        .page-order-detail #order-products.return td.qty .current {
          width: 30%;
          float: left;
          text-align: right;
          padding-right: 0.5rem; }
        .page-order-detail #order-products.return td.qty .select {
          width: 70%;
          float: left;
          margin: -0.625rem 0;
          padding-left: 0.25rem; }
          .page-order-detail #order-products.return td.qty .select select {
            text-align: center; }
  .page-order-detail .order-items {
    padding: 0 !important; }
    .page-order-detail .order-items .order-item {
      padding: 1rem 1rem 0;
      border-bottom: 1px solid #f6f6f6; }
      .page-order-detail .order-items .order-item .checkbox {
        width: 30px;
        float: left;
        padding: 0 0.9375rem; }
      .page-order-detail .order-items .order-item .content {
        width: calc(100% - 30px);
        float: left;
        padding: 0 0.9375rem; }
      .page-order-detail .order-items .order-item .desc {
        margin-bottom: 1rem; }
        .page-order-detail .order-items .order-item .desc .name {
          font-weight: bold; }
      .page-order-detail .order-items .order-item .qty {
        margin-bottom: 1rem; }
        .page-order-detail .order-items .order-item .qty .q {
          margin-bottom: 0.25rem; }
        .page-order-detail .order-items .order-item .qty .s {
          margin-bottom: 0.25rem; }
  .page-order-detail .messages .message {
    margin-top: 0.5rem;
    border-bottom: 1px solid #f6f6f6; }
    .page-order-detail .messages .message:last-child {
      border-bottom: 0; }
    .page-order-detail .messages .message > div {
      margin-bottom: 0.5rem; }
  .page-order-detail .customization {
    margin-top: 0.75rem; }

/*** Order return page ***/
#order-return-infos .thead-default th {
  color: #414141; }
#order-return-infos .customization {
  margin-top: 0.75rem; }

/*** My account landing page ***/
.page-my-account #content .links {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }
  .page-my-account #content .links a {
    text-align: center;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #878787;
    padding: 0 0.9375rem;
    margin-bottom: 1.875rem; }
    .page-my-account #content .links a span.link-item {
      display: block;
      height: 100%;
      -moz-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.1);
      background: white;
      padding: 1rem; }
    .page-my-account #content .links a i {
      display: block;
      font-size: 2.6rem;
      width: 100%;
      color: #414141;
      padding-bottom: 3.4rem; }
    .page-my-account #content .links a:hover {
      color: #414141; }
      .page-my-account #content .links a:hover i {
        color: #3387f2; }

/*** History page ***/
#history .orders {
  margin: 0 -1rem; }
  #history .orders .order {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #f6f6f6; }
    #history .orders .order a h3 {
      color: #878787; }
    #history .orders .order .label {
      display: inline-block;
      margin: 0.25rem 0;
      padding: 0.25rem 0.375rem;
      color: white;
      border-radius: 3px; }
    #history .orders .order:last-child {
      border-bottom: 0; }

/*** FOOTER ***/
.page-footer .account-link {
  margin-right: 1rem; }
  .page-footer .account-link i {
    font-size: 0.875rem; }
  .page-footer .account-link span {
    font-size: 0.8125rem;
    vertical-align: middle; }

.login-form {
  margin-top: 0.9375rem; }

/*# sourceMappingURL=customer.css.map */
