/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
.quickview .modal-dialog {
  width: calc(100% - 30px);
  max-width: 64rem; }
.quickview .modal-content {
  min-height: 31.25rem; }
.quickview .modal-header {
  border: none;
  padding: 0.625rem; }
.quickview .modal-body {
  min-height: 28.88rem; }
.quickview .modal-footer {
  border-top: 1px solid rgba(172, 170, 166, 0.3); }
.quickview .layer {
  display: none; }
.quickview .product-cover img {
  width: 95%; }
.quickview .arrows-product-fake {
  display: none; }
.quickview .images-container {
  position: relative;
  z-index: 1;
  text-align: center; }
  .quickview .images-container .product-cover {
    padding-right: 90px; }
    .rtl .quickview .images-container .product-cover {
      padding-left: 90px;
      padding-right: inherit; }
  .quickview .images-container .product-thumb-images {
    position: absolute;
    top: 20px;
    width: 80px;
    z-index: 9;
    right: 0px; }
    .rtl .quickview .images-container .product-thumb-images {
      left: 0px;
      right: auto; }
.quickview .product-thumb-images {
  position: relative; }
  .quickview .product-thumb-images .thumb {
    cursor: pointer;
    opacity: 0.5;
    -ms-opacity: 0.5;
    -o-opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .quickview .product-thumb-images .thumb.selected, .quickview .product-thumb-images .thumb:hover {
      opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      -moz-opacity: 1;
      -webkit-opacity: 1;
      filter: alpha(opacity=100); }
  .quickview .product-thumb-images .slick-list {
    margin-left: 0px;
    margin-right: 0px; }
    .quickview .product-thumb-images .slick-list .slick-slide {
      padding-left: 0px;
      padding-right: 0px; }
.quickview .slick-arrows .slick-arrow {
  width: 100%;
  margin: auto;
  color: #FFFFFF;
  background: #040037; }
  .quickview .slick-arrows .slick-arrow:hover {
    color: #FFFFFF;
    background: #000000;
    font-family: "FontAwesome"; }
  .quickview .slick-arrows .slick-arrow.slick-next {
    top: -10px;
    left: 0;
    right: 0;
    bottom: auto; }
    .quickview .slick-arrows .slick-arrow.slick-next:before {
      content: "\f077"; }
      [dir="rtl"] .quickview .slick-arrows .slick-arrow.slick-next:before {
        content: "\f077"; }
  .quickview .slick-arrows .slick-arrow.slick-prev {
    top: auto;
    left: 0;
    right: 0;
    bottom: -30px; }
    .quickview .slick-arrows .slick-arrow.slick-prev:before {
      content: "\f078"; }
      [dir="rtl"] .quickview .slick-arrows .slick-arrow.slick-prev:before {
        content: "\f078"; }
.quickview .social-sharing {
  margin: 0.625rem 1.25rem 0px 0.625rem; }
  .rtl .quickview .social-sharing {
    margin: 0.625rem 0.625rem 0px 1.25rem; }

.rtl .quickview .slick-arrows .slick-arrow.slick-prev, .rtl .quickview .slick-arrows .slick-arrow.slick-next {
  left: 0;
  right: 0; }

/*# sourceMappingURL=quickview.css.map */
