/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
a:hover, a:focus {
  color: #edb42c; }

.btn-inverse {
  color: #FFFFFF;
  background-color: #edb42c;
  border-color: #edb42c; }
  .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #eaeaea; }
  .open .btn-inverse.dropdown-toggle {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #eaeaea; }
  .btn-inverse:active, .btn-inverse.active {
    background-image: none; }
  .open .btn-inverse.dropdown-toggle {
    background-image: none; }
  .btn-inverse.disabled, .btn-inverse.disabled:hover, .btn-inverse.disabled:focus, .btn-inverse.disabled:active, .btn-inverse.disabled.active, .btn-inverse[disabled], .btn-inverse[disabled]:hover, .btn-inverse[disabled]:focus, .btn-inverse[disabled]:active, .btn-inverse[disabled].active, fieldset[disabled] .btn-inverse, fieldset[disabled] .btn-inverse:hover, fieldset[disabled] .btn-inverse:focus, fieldset[disabled] .btn-inverse:active, fieldset[disabled] .btn-inverse.active {
    background-color: #edb42c;
    border-color: #edb42c; }
  .btn-inverse .badge {
    color: #edb42c;
    background-color: #FFFFFF; }

.btn-outline {
  color: #FFFFFF;
  background-color: #282d35;
  border-color: #282d35; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
    color: #FFFFFF;
    background-color: #edb42c;
    border-color: #edb42c; }
  .open .btn-outline.dropdown-toggle {
    color: #FFFFFF;
    background-color: #edb42c;
    border-color: #edb42c; }
  .btn-outline:active, .btn-outline.active {
    background-image: none; }
  .open .btn-outline.dropdown-toggle {
    background-image: none; }
  .btn-outline.disabled, .btn-outline.disabled:hover, .btn-outline.disabled:focus, .btn-outline.disabled:active, .btn-outline.disabled.active, .btn-outline[disabled], .btn-outline[disabled]:hover, .btn-outline[disabled]:focus, .btn-outline[disabled]:active, .btn-outline[disabled].active, fieldset[disabled] .btn-outline, fieldset[disabled] .btn-outline:hover, fieldset[disabled] .btn-outline:focus, fieldset[disabled] .btn-outline:active, fieldset[disabled] .btn-outline.active {
    background-color: #282d35;
    border-color: #282d35; }
  .btn-outline .badge {
    color: #282d35;
    background-color: #FFFFFF; }

.btn-primary {
  background-color: #edb42c; }

.carousel-control:hover {
  background: #edb42c !important; }

.owl-theme .owl-controls .owl-buttons div:hover {
  background: #edb42c; }

.pagination a:hover, .pagination a:focus {
  color: #edb42c; }
.pagination .current a {
  color: #edb42c; }

#wrapper .breadcrumb li a:hover {
  color: #edb42c; }

.products-selection .display > div.selected a {
  color: #edb42c; }

/* Override Bootstrap */
.group-span-filestyle .btn-default {
  background: #edb42c; }

.custom-radio input[type="radio"]:checked + span {
  background-color: #edb42c; }

/* header */
.header-nav a:hover {
  color: #edb42c; }

.popup-over a.popup-title:hover {
  color: #edb42c; }
.popup-over .popup-content a:hover {
  color: #edb42c; }
.popup-over .popup-content ul li.current {
  color: #edb42c; }
  .popup-over .popup-content ul li.current a {
    color: #edb42c; }

/* Sidebar */
.sidebar .block .title_block:before {
  background: #edb42c; }
.sidebar .block-highlighted {
  border-color: #edb42c; }
  .sidebar .block-highlighted .title_block {
    background-color: #edb42c;
    border-color: #edb42c; }
    .sidebar .block-highlighted .title_block:before {
      background: none; }

/* footer */
.footer-container li a:hover {
  color: #edb42c; }

/* Block cart */
#cart-block .cart-preview.active a {
  color: #edb42c; }

/* Block Search */
.search-widget form input[type=text]:focus {
  outline: 3px #edb42c solid; }
  .search-widget form input[type=text]:focus + button {
    background: #edb42c; }
.search-widget form button[type=submit]:hover {
  color: #edb42c; }

/* Megamenu */
.leo-megamenu .navbar-nav > li a:hover, .leo-megamenu .navbar-nav > li a:focus, .leo-megamenu .navbar-nav > li a:active {
  color: #edb42c; }
.leo-megamenu .navbar-nav > li.active > a, .leo-megamenu .navbar-nav > li:hover > a, .leo-megamenu .navbar-nav > li:focus > a {
  color: #edb42c; }
.leo-megamenu .dropdown-menu a > .menu-title:hover {
  color: #edb42c; }
.leo-megamenu .dropdown-menu .menu-title a:hover {
  color: #edb42c; }

/* Slideshow */
.bannercontainer .tp-caption.btn.btn-discover:hover {
  background: #edb42c;
  border-color: #edb42c; }
.bannercontainer .tp-caption.btn.btn-white:hover {
  background: #edb42c; }

/* Product list */
.thumbnail-container .product-title a:hover {
  color: #edb42c; }
.thumbnail-container .quickview .quick-view:hover {
  background: #edb42c; }

/* Lastest Blog */
.blog-item .blog-meta a:hover {
  color: #edb42c; }

.blog-tags a:hover span {
  background: #edb42c; }

/* Block category left */
.block-categories .collapse-icons .add:hover,
.block-categories .collapse-icons .remove:hover {
  color: #edb42c; }
.block-categories .arrows .arrow-right:hover,
.block-categories .arrows .arrow-down:hover {
  color: #edb42c; }

/* Block Newsletter */
.block_newsletter form .btn:hover {
  background: #edb42c;
  border-color: #edb42c; }

/* Product page */
.product-price {
  color: #edb42c; }

.product-tabs.tabs .nav-tabs .nav-link.active {
  border-bottom-color: #edb42c;
  color: #edb42c; }
.product-tabs.tabs .nav-tabs .nav-link:hover {
  border-bottom-color: #edb42c;
  color: #edb42c; }

.product-cover .layer .zoom-in {
  color: #edb42c; }

#product-modal .modal-content .modal-body .product-images img:hover {
  border-color: #edb42c; }

.product-images > li.thumb-container > .thumb.selected, .product-images > li.thumb-container > .thumb:hover {
  border-color: #edb42c; }

.products-section-title:before {
  background: #edb42c; }

.more-info-product .title-info-product:before {
  background: #edb42c; }

.products-accordion .card-header a:hover:after {
  color: #edb42c; }

/* Back to top */
#back-top a {
  background: #edb42c; }

/* Widget */
.ApColumn .title_block:before {
  background: #edb42c; }

.box-show-more a:hover {
  background: #edb42c;
  color: #FFFFFF; }

/* Panel tool */
.paneltool .leo-dynamic-update-side.current-sidebar {
  color: #edb42c; }
.paneltool .leo-dynamic-update-side.themetool .leo-dynamic-update-header.current-header {
  color: #edb42c; }

.leo-dynamic-update-layout:hover, .leo-dynamic-update-layout.current-layout-mod {
  color: #edb42c; }

.group-input a.apconfig.active {
  color: #edb42c; }

.enable_fheader.btn_no:before {
  background: #edb42c; }

/*# sourceMappingURL=skin.css.map */
