/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* block top search */
#search_block_top {
  position: absolute;
  right: 26%;
  top: 34px; }

#search_block_top p {
  padding: 0; }

#search_block_top #search_query_top {
  padding: 0 5px;
  height: 23px;
  width: 300px;
  /* 310 */
  border: 1px solid #666;
  border-right: 0 !important;
  color: #666;
  background: url(img/bg_search_input.png) repeat-x 0 0 #fff;
  float: left; }

#search_block_top .button {
  border: none;
  border-radius: 0;
  color: #fff;
  text-transform: uppercase;
  background: url(img/bg_search_submit.png) repeat-x 0 0 #101010;
  float: left;
  height: 25px; }

form#searchbox {
  padding-top: 5px; }

form#searchbox label {
  color: #333;
  margin-bottom: 1px; }

form#searchbox input#leo_search_query_block {
  border: 1px solid #CCCCCC;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  height: 18px;
  margin-top: 10px; }

form#searchbox input#search_button {
  padding: 1px 4px; }

.list-cate-wrapper {
  position: relative; }

.list-cate {
  width: 100%;
  padding: 0px; }

.cate-item {
  display: block;
  padding: 10px; }

#leosearchtopbox a.cate-item.active, #leosearchtopbox a.cate-item:hover, #leosearchbox a.cate-item.active, #leosearchbox a.cate-item:hover {
  background: #040037;
  color: #fff; }

#dropdownListCate, #dropdownListCateTop {
  cursor: pointer;
  display: block;
  padding: 5px 0px 5px 5px; }

#leosearchtopbox #dropdownListCateTop:hover, #leosearchbox #dropdownListCate:hover {
  color: #414141; }

#leo_search_block_top {
  border-radius: 23px; }
  #leo_search_block_top .title_block {
    display: none; }
  #leo_search_block_top form > label {
    display: none; }
  #leo_search_block_top label[for="search_query_block"] {
    display: none; }
  #leo_search_block_top .block_content {
    position: relative;
    max-width: 500px; }
  #leo_search_block_top .list-cate-wrapper {
    display: none; }
    #leo_search_block_top .list-cate-wrapper:before {
      content: "";
      width: 1px;
      height: 25px;
      position: absolute;
      top: 10px;
      right: 0;
      background: #eee; }
      .rtl #leo_search_block_top .list-cate-wrapper:before {
        left: 0;
        right: auto; }
    #leo_search_block_top .list-cate-wrapper .select-title {
      height: 45px;
      overflow: hidden;
      line-height: 45px;
      text-transform: capitalize;
      color: #999; }
      #leo_search_block_top .list-cate-wrapper .select-title i {
        position: absolute;
        top: 14px;
        right: 10px; }
        .rtl #leo_search_block_top .list-cate-wrapper .select-title i {
          left: 10px;
          right: auto; }
    #leo_search_block_top .list-cate-wrapper .dropdown-menu {
      font-size: 13px;
      max-height: 230px;
      overflow: auto;
      overflow-x: hidden; }
  #leo_search_block_top #dropdownListCateTop {
    padding: 0 25px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    #leo_search_block_top #dropdownListCateTop i {
      font-size: 14px; }
  #leo_search_block_top .form-control {
    border: 0;
    background-color: #f2f2f5;
    height: 55px;
    line-height: 55px;
    padding: 0 65px 0 40px;
    border-radius: 0;
    outline: 0;
    border-radius: 50px;
    color: #040037;
    font-family: arial; }
    .rtl #leo_search_block_top .form-control {
      padding: 0 40px 0 65px; }
    @media (max-width: 767px) {
      #leo_search_block_top .form-control {
        font-size: 12px; } }
  #leo_search_block_top .btn {
    width: 50px;
    height: 55px;
    line-height: 55px;
    border: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    background: none;
    color: #040037;
    position: absolute;
    top: 0;
    right: 15px; }
    .rtl #leo_search_block_top .btn {
      left: 15px;
      right: auto; }
    #leo_search_block_top .btn i {
      font-size: 0;
      width: 50px;
      height: 55px;
      font-family: "icomoon";
      display: flex;
      align-items: center;
      justify-content: center; }
      #leo_search_block_top .btn i:before {
        content: "\e90d";
        font-size: 24px; }
    #leo_search_block_top .btn:hover {
      color: #000; }

.leoproductsearch-result {
  position: relative; }

.ac_results {
  text-align: left; }
  .rtl .ac_results {
    text-align: right; }

/*# sourceMappingURL=leosearch.css.map */
